main{
    margin-top: 100px;
    margin-right: 150px;
    margin-left: 150px;
    margin-bottom: 100px;
}

#leftImage{
width: 300px;
height: 300px;

border-radius: 30px; 
border-style: solid;

}
#middleImage{
    width: 300px;
    height: 300px;

    border-radius: 30px;
    border-style: solid;
}
#rightImage{
    width: 300px;
    height: 300px;

    border-radius: 30px;
    border-style: solid;

 }
 /* html{
     background-color: gray;
 } */
 body{
     text-align: center;
     font-family: 'Times New Roman', Times, serif;
     font-size: 30px;
 }

video{
    min-width: 120%;
    min-height: 120%;
    width: auto;
    height: auto;
    background-size: cover;
}
.wrapper{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
h1{
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}